<div class="inner cover">
    <% if (!user) { %>
        <h2>Welcome!</h2>
    <% } else { %>
        <h1 class="cover-heading">Hello, <%= user.name %></h1>
        <p class="lead">
            <a href="/userinfo" class="btn btn-lg btn-default" style="width: 200px;">User Info</a><br/>
        </p>
        <p class="lead">
            <a href="/personaldata" class="btn btn-lg btn-default" style="width: 200px;">Personal Data</a><br/>
        </p>
        <p class="lead">
            <a href="/refresh_token" class="btn btn-lg btn-default" style="width: 200px;">Refresh Token</a><br/>
        </p>
        <p class="lead">
            <a href="/listings" class="btn btn-lg btn-default" style="width: 200px;">Listings</a>
        </p>

    <% } %>
</div>